<a href="https://colab.research.google.com/github/SlickMik/ensf692Project/blob/main/ENSF_692_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ESNF 692 Project
### Group # : 4
##### Authors : Danish Shahid (30290799) | Muhammad Ibrahim Khan (30289806)
---

This notebook describes the correlation of asset classes - Oil, Gold, and S%P500 for a user selected time range

---

Importing Libraries

In [19]:
import kagglehub
import numpy as np
import pandas as pd
import matplotlib as mp

# Dataset Selection

Downloading Kaggle Datasets

In [32]:
# Download latest dataset versions
gold_dataset_path = kagglehub.dataset_download("ritwikb3/daily-gold-price-1996-2023-time-series")

oil_dataset_path = kagglehub.dataset_download("tarique7/daily-crude-price-dataset")

sp_dataset_path = kagglehub.dataset_download("paveljurke/s-and-p-500-gspc-historical-data")

# Dataset Creation

Reading Dataset to Pandas

In [34]:
# read csv files into pandas
gold_dataset = pd.read_csv(gold_dataset_path + f'/deccan gold mines ltd eod price 2.csv')

oil_dataset = pd.read_csv(oil_dataset_path + f'/Crude Oil WTI Futures Historical Data.csv')

sp_dataset = pd.read_csv(sp_dataset_path + f'/sap500.csv')

In [37]:
sp_dataset.head(10)

         Date       Open       High        Low      Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000       0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000       0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999       0
3  1928-01-05  17.549999  17.549999  17.549999  17.549999       0
4  1928-01-06  17.660000  17.660000  17.660000  17.660000       0
5  1928-01-09  17.500000  17.500000  17.500000  17.500000       0
6  1928-01-10  17.370001  17.370001  17.370001  17.370001       0
7  1928-01-11  17.350000  17.350000  17.350000  17.350000       0
8  1928-01-12  17.469999  17.469999  17.469999  17.469999       0
9  1928-01-13  17.580000  17.580000  17.580000  17.580000       0

# User Entry

In [27]:
ra = input('please enter your input')

please enter your inputhello

# Analysis & Calculations

In [ ]:
# Analysis and Calculations

# Export & Matplotlib